<h3>{{.Ticker}}</h3>
<ul class="flex border-#eee m0 p0 font-sans">
	<li class="flex flex-col flex-1"><strong>Symbol</strong>${{.Values.Symbol}}</li>
	<li class="flex flex-col flex-1"><strong>Open</strong>${{.Values.Open}}</li>
	<li class="flex flex-col flex-1"><strong>High</strong>{{.Values.High}}</li>
	<li class="flex flex-col flex-1"><strong>Low</strong>${{.Values.Low}}</li>
	<li class="flex flex-col flex-1"><strong>Close</strong>${{.Values.Close}}</li>
	<li class="flex flex-col flex-1"><strong>After Hours</strong>${{.Values.AfterHours}}</li>
</ul>